.minigame {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    top: 0;
    left: 0;
}

#bcGuitar {
    background-color: white;
    display: none;
}
#bcGuitar.show {
    display: block;
}

#bcGuitarContent {
    box-sizing: border-box;
    margin: 20vh 20vw;
    width: 60vw;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 10px 10px 10px #000;
}


#fog {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 0;
}

#bcGuitar.blackout #fog {
    display: block;
    z-index: 1;
}

#bcGuitar button#melody-player {
    border: none;
    background: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
    color: black; /*rgba(234, 112, 112, .8);*/
    position: absolute;
    bottom: 1vh;
    left: 1vw;
    font-size: 3vw;
}

#bcGuitar button#melody-player[disabled] {
    display: none;
}

div#guitar-neck {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('assets/guitar-neck-v3.webp') no-repeat 0 center;
    background-size: cover;
}

div#guitar-neck a,
div.b-neck__strings a {
    position: absolute;
    width: 6vh;
    height: 6vh;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 3vh;
}

div#guitar-neck a:hover {
    background: rgba(128, 128, 128, 0.8);
}

a.string-VI { top: 40vh; }
a.string-V { top: 34vh; }
a.string-IV { top: 28vh; }
a.string-III { top: 22vh; }
a.string-II { top: 16vh; }

/* the following are actually computed in javascript */
a.fret-V { left: 10vw; }
a.fret-VII { left: 30vw; }
a.fret-VIII { left: 40vw; }