.minigame {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    top: 0;
    left: 0;
}

#bcRat {
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    display: none;
    margin: 0;
    width: 100%;
    height: 100vh;
    cursor: none;
}
#bcRat.show {
    display: block;
}


#bcRatFlashlight { 
    position: absolute;
    border: solid 1px #000;
    transform: translate(-50%, -50%);
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    border: solid 150vw rgba(0, 0, 0, 0.95);
}


#bcRatBeast {
    position: absolute;
    box-sizing: border-box;
    display: block;
    margin: 0;
    width: 4vw;
    height: 8vw;
    transform: translate(-50%, -50%);
}

@keyframes sourpent {
    0% {
        background-position: 0 0;
    }
    16% {
        background-position: -16vw 0;
    }
    33% {
        background-position: -4vw 0;
    }
    50% {
        background-position: -8vw 0;
    }
    66% {
        background-position: -20vw 0;
    }
    83% {
        background-position: -12vw 0;
    }
    100% {
        background-position: 0 0;
    }
}

#bcRatBeast.anim {
    animation-name: sourpent;
    animation-direction: normal;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    background-image: url(./assets/deplacementssourpent.png);
    background-repeat: no-repeat;
    background-size: 24vw 8vw;
    background-position: 0 0;
}

#bcRatBeast:not(.anim):before {
    content: '';
    display: block;
    background-image: url(./assets/chiffres-sourpent.png);
    background-size: 36vw 8vw;
    width: 4vw;
    height: 8vw;
    background-position: 0 0; 
}
#bcRatBeast[data-number="2"]:before {
    background-position: -4vw 0; 
}
#bcRatBeast[data-number="3"]:before {
    background-position: -8vw 0; 
}
#bcRatBeast[data-number="4"]:before {
    background-position: -12vw 0; 
}
#bcRatBeast[data-number="5"]:before {
    background-position: -16vw 0; 
}
#bcRatBeast[data-number="6"]:before {
    background-position: -20vw 0; 
}
#bcRatBeast[data-number="7"]:before {
    background-position: -24vw 0; 
}
#bcRatBeast[data-number="8"]:before {
    background-position: -28vw 0; 
}
#bcRatBeast[data-number="9"]:before {
    background-position: -32vw 0; 
}
