/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/** Media query for landscape orientation */
@media screen and (orientation: portrait) {
    body:before {
        content: 'Turn the device to play the game';
        box-sizing: border-box;
        font-size: 3vh;
        width: 36vh;
        padding: 5vh 1vw 15vh;
        line-height: 1.3;
        height: 20vh;
        position: absolute; 
        top: calc(50vh - 10vh);
        left: calc(50vw - 18vh);
        text-align: center;
        border-top: solid 4vw white;
        border-bottom: solid 5vw white;
        border-left: solid 1vw white;
        border-right: solid 1vw white;
        border-radius: 2vw;    
        color: white;
        transform-origin: center;
        animation: rotateDevice 2s linear 0s infinite;
    }
    body > * {
        display: none !important;   
    }
    @keyFrames rotateDevice {
        0% {
            transform: rotate(90deg);   
        }
        70% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
}


/*** DEBUT DE LA FEUILLE DE STYLE ***/
body {
    font-family: arial, sans-serif;
    background-color: black;   
    transition: opacity 1s linear 0s;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
    background-color: black;
}

#bcBackground {
    position: absolute;
    background-repeat: no-repeat;
    --map-width: 150vw;
    width: var(--map-width);
    height: calc(var(--map-width) / 0.83);
    background-image: url(assets/the-mapV5.jpg);
    background-size: cover;
}

#bcBackground.masked-1:before {
    /**
    background-image: url(assets/mask-1.webp), url(assets/the-map.webp);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;*/
    display: block;
    content: '';
    position: absolute; 
    background-color: black;
    bottom: 0;
    width: 54%;
    height: 100%;
}

#bcBackground.masked-2:after {
    /**
    background-image: url(assets/mask-2.webp), url(assets/the-map.webp);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    **/
    display: block;
    content: '';
    position: absolute; 
    background-color: black;
    top: 0;
    height: 50%;
    width: 100%;
}

main #talk {
    display: block;
    position: absolute; 
    box-sizing: border-box;
    border: solid 0.5vw #500;
    background-color: beige;
    color: black;
    width: 90vw;
    left: 5vw;
    z-index: 1000;
    font-size: 5vh;
    padding: 2vh;
    border-radius: 2vh;
    top: 2vw;
}
main #talk:empty {
    display: none;   
}

main #talk:after {
    content: '';
    display: block;
    position: absolute;
    border: solid 0.5vw #500;
    background-color: beige;
    border-radius: 50%;
    height: 14vh;
    width: 14vh;
    right: -1vw;
    top: 1vw;
    background-image: url(assets/tete.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.zonesOK, .POI {
    position: absolute; 
    display: block;
    border: solid 2px #0F0;
}
.POI {
    background-color: rgba(144, 238, 144, .5);   
}


/** Character **/
main #bcCharacter {
    display: block;
    position: absolute; 
    transform-origin: center center;
    transform: translate(-50%, -85%);
    --largeur-perso: 17vw;
    --hauteur-perso: 25vw;
    width: var(--largeur-perso);
    height: var(--hauteur-perso);
    top: 80%;
    z-index: 1;
    left: 50%;
    /*border: solid 2px blue;*/
    background-image: url(assets/marcheimperiale.png);
    background-repeat: no-repeat;
    background-size: calc(7 * var(--largeur-perso)) var(--hauteur-perso);
    background-position: calc(-4 * var(--largeur-perso)) 0;
}
main #bcCharacter.animStopD {
    transform: translate(-50%, -85%) scaleX(-1) !important;
}

main #bcCharacter.animMarcheG {
    animation-name: animPersoMarcheG;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
    animation-direction: normal;
    animation-duration: 1s;
}
main #bcCharacter.animMarcheD {
    transform: translate(-50%, -85%) scaleX(-1) !important;
    animation-name: animPersoMarcheG;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
    animation-direction: normal;
    animation-duration: 1s;
}

@keyframes animPersoMarcheG {
    0% {
        background-position: -2vw 0;
    }
    16% {
        background-position: calc(-1 * var(--largeur-perso) - 1vw) 0;
    }
    33% {
        background-position: calc(-5 * var(--largeur-perso) - 1vw) 0;
    }
    50% {
        background-position: calc(-2 * var(--largeur-perso) - 1vw) 0;        
    }
    66% {
        background-position: calc(-3 * var(--largeur-perso) - 1vw) 0;        
    }
    83% {
        background-position: calc(-6 * var(--largeur-perso) - 1vw) 0;        
    }
    100% {
        background-position: -0vw 0;
    }
}

main.light #bcCharacter:after, main.nolight #bcCharacter:after {
    content: '';
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%);
    left: -6vw;
    top: 20vw;
    width: 20vw;
    border-radius: 50%; 
    height: 10vw;
    display: block;
    border: solid 100vw rgba(0, 0, 0, 0.8);
}
main.nolight #bcCharacter:after {
    width: 0;
    height: 0;
    border: solid 100vw rgba(0, 0, 0, 0.95);
}
main.light #bcCharacter.animMarcheD:after, 
main.light #bcCharacter.animMarcheG:after {
    animation-name: animPersoLightspot;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
    animation-direction: normal;
    animation-duration: 1s;
    left: -8vw;
    top: 20vw;
}
@keyframes animPersoLightspot {
    0% {
        top: 20vw;
        left: -8vw;
    }
    12.5% {
        top: 19vw;
        left: -7.5vw;
    }
    25% {
        top: 18vw;
        left: -7vw;
    }
    37.5% {
        top: 19vw;
        left: -7.5vw;
    }
    50% {
        top: 20vw;
        left: -8vw;
    }
    62.5% {
        top: 21vw;
        left: -7.5vw;
    }
    75% {
        top: 22vw;
        left: -7vw;
    }
    87.5% {
        top: 21vw;
        left: -7.5vw;
    }
    100% {
        top: 20vw;
        left: -8vw;
    }
}


/** Flashlight in the hand of the character */
main.light #bcCharacter:before {
    display: block;
    position: absolute; 
    content: '';   
    width: 7vw;
    height: 3vw;
    top: 13.5vw;
    left: 1.5vw;
    z-index: -1;
    background: transparent url(./assets/lampe2.png) no-repeat;
    background-size: contain;
    transform-origin: center;
    transform: rotate(-10deg);
}
main.light #bcCharacter.animMarcheD:before, 
main.light #bcCharacter.animMarcheG:before {
    animation-name: animPersoLight;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
    animation-direction: normal;
    animation-duration: 1s;
    top: 11.5vw;
    left: 0.3vw;
}
@keyframes animPersoLight {
    0% {
        top: 11.5vw;
        left: 0.7vw;
    }
    16% {
        top: 11.6vw;
        left: 0vw;
    }
    33% {
        top: 11.5vw;
        left: -0.5vw;
    }
    50% {
        top: 11.3vw;
        left: -0.1vw;
    }
    66% {
        top: 11.6vw;
        left: 0vw;
    }
    83% {
        top: 11.8vw;
        left: 0.1vw;
    }
    100% {
        top: 11.5vw;
        left: 0.7vw;
    }   
}


/** Bouton action **/
main #btnAction {
    display: none;
    position: absolute;
    border: solid 0.5vw #500;
    background-color: beige;
    border-radius: 50%;
    height: 14vh;
    width: 14vh;
    right: 2vw;
    line-height: 8vh;
    font-size: 10vh;
    bottom: 2vw;       
    z-index: 1000;
    background-image: none;
    background-position: center;
    background-size: cover;
}
main #btnAction:not([data-poi=""]) {
    display: block;
}
/*
#btnAction:before {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 25%;
}
*/
#btnAction:not([data-poi=""])[data-type="door"] {
    background-image: url(assets/icon-door.png);
}
#btnAction:not([data-poi=""])[data-type="game"] {
    background-image: url(assets/icon-play.png);
}
#btnAction:not([data-poi=""])[data-type="thought"] {
    background-image: url(assets/icon-thought.png);
}
#btnAction:not([data-poi=""])[data-type="pickup"] {
    background-image: url(assets/icon-pick.png);
}

/*
#btnAction:not([data-poi=""])[data-type="game"]:before {
    content: '\01F914';
}
#btnAction[data-type="thought"]:before {
    content: '\01F4AD';
}
#btnAction[data-type="pickup"]:before {
    content: '\01F447';
}
#btnAction[data-type="door"]:before {
    content: '\01F6AA';
}
*/

#point {
    position: absolute; 
    width: 1vw;
    height: 1vw;
    background-color: red;
    transform-origin: center;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    left: 50%;
    top: 50%;
}


#joystick {
    position: absolute; 
    width: 16vh;
    height: 16vh;
    bottom: 2vh;
    left: 2vh;
    box-sizing: border-box;
    border: solid 0.3vw #000;
    border-radius: 50%;
    z-index: 1000;
}
#joystick > div {
    position: absolute;
    width: 7vh;
    height: 7vh;
    transform: translate(-50%, -50%);
    transform-origin: center;
    left: 50%;
    border-radius: 50%;
    top: 50%;
    background-color: #222;
}

#joystick, #joystick > div {
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.75)
}

/*** Sections / mini-game **/
.minigame {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    top: 0;
    overflow: hidden;
    left: 0;
}

section .btnBack {
    display: block;
    position: absolute; 
    right: 1vw;
    top: 1vw;
    background-color: transparent;
    border: none;
    z-index: 100;
    font-size: 4vw;
}
section .btnBack:before {
    content: '\2716';
    color: red;
}


/************************************* 
            TITLE BLOCK 
*************************************/

body.title > * {
    display: none;
}

body.title > #titleScreen {
    display: block;   
}

#titleScreen {
    display: none;
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
    overflow: hidden;
}
#titleScreen > img {
    width: auto;
    height: 70%;
    position: absolute;
}
#titleScreen > img:nth-child(1) {
    left: 1vw;
    bottom: 2vw;
    max-width: 50%;
}
#titleScreen > img:nth-child(2) {
    right: 4vw;
    top: 6vw;
    max-width: 60%;
}
#titleScreen > div.buttons {
    position: absolute;
    right: 10vw;
    bottom: 1vw;
}
#titleScreen button {
    margin: 1vw 1vw;
    border: none;
    width: 14vw;
    border-radius: 0.8vw;
    font-weight: bold;
    padding: 1vw;
    font-size: 4vh;
    background-color: grey;
}
#titleScreen #btnCredits:before {
    content: 'Credits';   
}

/** Credits **/
#titleScreen.credits #btnCredits:before {
    content: 'Back';
}   
#titleScreen.credits img:nth-child(1) {
    display: none;   
}
#titleScreen.credits #btnStart {
    display: none;   
}
#titleScreen.credits div.nous {
    display: block;   
}
#titleScreen div.nous {
    display: none;
    position: absolute; 
    width: 40vw;
    left: 1vw;
    top: 5vh;
    height: 90vh;
    font-size: 6vh;
}
#titleScreen div.nous > * {
    text-align: center;
    margin: 2vh 0;
}
#titleScreen div.nous > img {
    width: 25vh;
    height: 25vh;
    display: block;
    margin: 5vh auto;
}

#titleScreen div.nous > h2 {
    font-size: 120%;
    font-weight: bold;
    margin-top: 6vh;
}

#drey {
    letter-spacing: -1.4vh;
}
#drey span:nth-of-type(1), 
#drey span:nth-of-type(2) {
    position: relative;
    top: 2vh;   
}