.minigame {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    top: 0;
    left: 0;
}

#bcLinky {
    box-sizing: border-box;
    display: none;
    margin: 0;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-color: lightgray;
    color: black;
}
#bcLinky.show {
    display: block;
}

.nolight ~ #bcLinky:after {
    content: '';
    position: absolute;    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
}
.light ~ #bcLinky:after {
    content: '';
    position: absolute;    
    top: 60vh;
    left: 50vw;
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%); 
    border: solid 100vw rgba(0, 0, 0, 0.85);
}
    
#bcLinky #bcLinkyBox {
    margin: 30vh 15vw 0 15vw;
    border-top: solid 0.2vw #000;
    border-left: solid 0.2vw #000;
    border-right: solid 0.2vw #000;
    padding: 0vh;
    height: 70vh;
    box-shadow: -2vw 2vw 2vw #000;
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    background-color: white;
}
#bcLinkyBox:before, #bcLinkyBox:after {
    content: 'Alarm circuit OK'; 
    display: block;
    font-size: 3vw;
    font-family: monospace;
    position: absolute; 
    bottom: 2vw;
    left: 2vw;
}
#bcLinkyBox:before {
    background-color: black;
    color: lightgreen;
    width: 70%;
    border: inset 1vw #333;
    padding: 2vh;
}
.alarmoff #bcLinkyBox:before {
    content: 'Alarm circuit failure';
    color: red;
}
#bcLinkyBox:after {
    content: 'Power:';
    bottom: 60vh;
}
.light ~ #bcLinky #bcLinkyBox:before,
.nolight ~ #bcLinky #bcLinkyBox:before {
    content: '' !important;   
}


#bcLinky input[type="checkbox"] {
    display: none; 
}

#bcLinky input[type="checkbox"]:checked + label {
    background-color: green;
}

#bcLinkyBox label {
    display: block;
    width: 5vw;
    margin: 10vw 0;
    height: 12vw;
    padding: 0.2vw;
    border: solid 0.1vw #000;
    position: relative;
    background-color: red;
}


#bcLinky label:before, 
#bcLinky label:after {
    display: block;
    content: '';
    box-sizing: border-box;
    height: 6vw;
    width: 5vw;
    top: 0;
    border: solid 0.2vw #666;
    border-radius: 1vw 1vw 0 0;
    background-color: #222;
    position: absolute;
    z-index: 10;
}
#bcLinky input[type="checkbox"]:checked + label:before {
    top: 6vw;
    border-radius: 0 0 1vw 1vw;
}

#bcLinky label:after {
    content: attr(data-number);
    height: 4vw;
    width: 5vw;
    border: none;    
    font-size: 3.5vw;
    text-align: center;
    top: 13vw;
    background: none;
}
