.minigame {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    top: 0;
    left: 0;
    overflow: hidden;
}

#bcLockZ {
    box-sizing: border-box;
    display: none;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
}
#bcLockZ.show {
    display: block;
}

#bcLockZContent {
    position: absolute;
    left: 0;
    top: 0;
    width: 70vw;
    padding-top: 2vh;
    height: 100vh;
}

#bcLockZContent:after {
    content: 'CHARLIE';
    font-weight: bold;
    font-size: 16vh;
    background-color: white;
    color: #222;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 71vw;
    background-color: lightgray;
    padding-top: 30vh;
    height: 100vh;
    border-right: solid 1vw #000;
    box-shadow: 1vw 0vw 1vw #222;
}

#bcLockZContent > div {
    width: 20rem;
    margin-left: calc(70vw - 20rem);
    padding-right: 1vw;
    font-family: monospace;
    font-size: 5vh;
    height: 7.5vh;
    box-sizing:border-box;
    right: -10rem;
    text-align: right;
    position: relative;
    border: solid 0.2vh #000;
    border-radius: 0 1vh 1vh 0;
    margin-top: 0.5vh;
    border-left: none;
    padding: 0.8vh;
}
#bcLockZContent > div:before {
    content: ' 4  3  2  1 ';    
}
#bcLockZContent > div:after {
    font-size: 80%;
}
#bcLockZContent > div[data-sign="aries"]:after {
    content: '\2648';
}
#bcLockZContent > div[data-sign="taurus"]:after {
    content: '\2649';
}
#bcLockZContent > div[data-sign="gemini"]:after {
    content: '\264A';
}
#bcLockZContent > div[data-sign="cancer"]:after {
    content: '\264B';
}
#bcLockZContent > div[data-sign="leo"]:after {
    content: '\264C';
}
#bcLockZContent > div[data-sign="virgo"]:after {
    content: '\264D';
}
#bcLockZContent > div[data-sign="libra"]:after {
    content: '\264E';
}
#bcLockZContent > div[data-sign="scorpio"]:after {
    content: '\264F';
}
#bcLockZContent > div[data-sign="sagittarius"]:after {
    content: '\2650';
}
#bcLockZContent > div[data-sign="capricorn"]:after {
    content: '\2651';
}
#bcLockZContent > div[data-sign="aquarius"]:after {
    content: '\2652';
}
#bcLockZContent > div[data-sign="pisces"]:after {
    content: '\2653';
}

#bcLockZContent > div[data-value="0"] {
    right: -12vh;   
}
#bcLockZContent > div[data-value="1"] {
    right: -18vh;   
}
#bcLockZContent > div[data-value="2"] {
    right: -24vh;   
}
#bcLockZContent > div[data-value="3"] {
    right: -30vh;   
}
#bcLockZContent > div[data-value="4"] {
    right: -36vh;   
}
