.minigame {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    top: 0;
    left: 0;
    overflow: hidden;
}

#bcDetail {
    box-sizing: border-box;
    display: none;
    margin: 0;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-color: lightgray;
    color: black;
}
#bcDetail.show {
    display: block;
}

.nolight ~ #bcDetail:after {
    content: '';
    position: absolute;    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
}
.light ~ #bcDetail:after {
    content: '';
    position: absolute;    
    top: 60vh;
    left: 50vw;
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%); 
    border: solid 100vw rgba(0, 0, 0, 0.85);
}

#bcDetailContent {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
}

/*** Shower content ***/
#bcDetailContent.shower {
    background-image: url("../assets/cistercian-rideau.png");
    background-repeat: repeat;
    background-size: contain;
}

/*** Towel content ***/
#bcDetailContent.towel .cistercianCode {
    position: absolute;
    width: 6vw;
    height: 7vw;
    left: 10vw;
    top: 10vh;
}

#bcDetailContent.towel .cistercianCode:nth-of-type(2) {
    left: 30vw;
    top: 60vh;
}
#bcDetailContent.towel .cistercianCode:nth-of-type(3) {
    left: 50vw;
    top: 10vh;
}
#bcDetailContent.towel .cistercianCode:nth-of-type(4) {
    left: 70vw;
    top: 60vh;
}
#bcDetailContent.towel .cistercianCode:nth-of-type(5) {
    left: 90vw;
    top: 10vh;
}

.cistercianCode > div {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/cistercian.png);
    background-size: 90vw 73.35vw;
    background-position: 0 0;
    width: 10vw;
    height: 12vw;
}
.cistercianCode > div:nth-child(1) {
    background-position-y: -55vw;    
}
.cistercianCode > div:nth-child(2) {
    background-position-y: -36.66vw;    
} 
.cistercianCode > div:nth-child(3) {
    background-position-y: -18.37vw;
}
.cistercianCode > div:nth-child(4) {
    background-position-y: 0vw;    
}
.cistercianCode > div[data-number="2"] {
    background-position-x: -10vw;    
}
.cistercianCode > div[data-number="3"] {
    background-position-x: -20vw;    
}
.cistercianCode > div[data-number="4"] {
    background-position-x: -30vw;    
}
.cistercianCode > div[data-number="5"] {
    background-position-x: -40vw;    
}
.cistercianCode > div[data-number="6"] {
    background-position-x: -50vw;    
}
.cistercianCode > div[data-number="7"] {
    background-position-x: -60vw;    
}
.cistercianCode > div[data-number="8"] {
    background-position-x: -70vw;    
}
.cistercianCode > div[data-number="9"] {
    background-position-x: -80vw;    
}


/** Zodiac signs **/
#bcDetailContent.constellations {
    background-color: black;
    color: white;
    box-sizing: border-box;
}
#bcDetailContent.constellations > div {
    background-image: url("../assets/zodiac-spritesheet.png");
    background-size: 92vh 81vh;
    width: 23vh;
    height: 26vh;
    box-sizing: border-box;
    background-position: 0 0;
    display: block;
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%);
}
#bcDetailContent.constellations > div:before {
    content: 'Aries \2648';
    font-size: 3.5vh;
    display: block;
    position: absolute; 
    bottom: -2vh;
}
/** First line */
#bcDetailContent.constellations > div.aries:before {
    bottom: 15vh;
    left: 1vh;
}
#bcDetailContent.constellations > div.aries {
    top: 20vh;
    left: 12vw;
    height: 20vh;
}
#bcDetailContent.constellations > div.taurus:before {
    content: 'Taurus \2649';
    bottom: 20vh;
    right: -6vh;
}
#bcDetailContent.constellations > div.taurus {
    background-position: -23vh 0;
    left: 37vw;
    top: 20vh;
}
#bcDetailContent.constellations > div.gemini:before {
    left: -2vh;
    bottom: 0vh;
    content: 'Gemini \264A';
}
#bcDetailContent.constellations > div.gemini {
    top: 15vh;
    left: 66vw;
    background-position: -46vh 0;
}
#bcDetailContent.constellations > div.cancer:before {
    top: 2vh;
    right: -4vh;
    content: 'Cancer \264B';
}
#bcDetailContent.constellations > div.cancer {
    top: 20vh;
    left: 88vw;
    background-position: -69vh 0;
}
/** Middle line */
#bcDetailContent.constellations > div.leo:before {
    content: 'Leo \264C';
    left: 2vh;
    bottom: 21vh;
}
#bcDetailContent.constellations > div.leo {
    top: 50vh;
    left: 12vw;
    background-position: 0vh -26vh;
}
#bcDetailContent.constellations > div.virgo:before {
    content: 'Virgo \264D';
    top: 5vh;
    right: -10vh;
}
#bcDetailContent.constellations > div.virgo {
    top: 50vh;
    left: 37vw;
    background-position: -23vh -26vh;
}
#bcDetailContent.constellations > div.libra:before {
    content: 'Libra \264E';
    bottom: 5vh;
    left: -8vh;
}
#bcDetailContent.constellations > div.libra {
    top: 50vh;
    left: 66vw;
    background-position: -46vh -26vh;
}
#bcDetailContent.constellations > div.scorpio:before {
    content: 'Scorpio \264F';
    top: 0;
    left: -7vh;
}
#bcDetailContent.constellations > div.scorpio {
    top: 50vh;
    left: 88vw;
    background-position: -69vh -26vh;
}
/** Last line **/
#bcDetailContent.constellations > div.sagittarius:before {
    content: 'Sagittarius \2650';
    left: -3vh;
    bottom: -2vh;
}
#bcDetailContent.constellations > div.sagittarius {
    top: 80vh;
    left: 12vw;
    background-position: 0vh -54vh;
}
#bcDetailContent.constellations > div.capricorn:before {
    content: 'Capricorn \2651';
    top: -8vh;
    left: -4h;
}
#bcDetailContent.constellations > div.capricorn {
    top: 89vh;
    left: 40vw;
    background-position: -23vh -52vh;
}
#bcDetailContent.constellations > div.aquarius:before {
    content: 'Aquarius \2652';
    left: 2vh;
    bottom: 0;
}
#bcDetailContent.constellations > div.aquarius {
    top: 80vh;
    left: 66vw;
    background-position: -46vh -54vh;
}
#bcDetailContent.constellations > div.pisces:before {
    content: 'Pisces \2653';
    left: -2vh;
    top: -6vh;
}
#bcDetailContent.constellations > div.pisces {
    top: 86vh;
    left: 88vw;
    background-position: -69vh -54vh;
}
    

/*** Photos ***/
#bcDetailContent .photo {
    position: absolute;   
    transform-origin: center;
    left: 50%;
    top: 50%;
    z-index: 1;
    padding: 2vw;
}
#bcDetailContent .photo > img {
    width: 50vw;
    height: auto;
}
#bcDetailContent .photo:nth-of-type(1) {
    transform: translate(-46%, -51%) rotate(-3deg);
}
#bcDetailContent .photo:nth-of-type(2) {
    transform: translate(-53%, -52%) rotate(-2deg);
}
#bcDetailContent .photo:nth-of-type(3) {
    transform: translate(-47%, -48%) rotate(3deg);
}
#bcDetailContent .photo:nth-of-type(4) {
    transform: translate(-52%, -47%) rotate(-3deg);
}

#bcDetailContent .btnPrevious, #bcDetailContent .btnNext {
    position: absolute; 
    font-size: 5vw;
    width: 6vw;
    text-align: center;
    border-radius: 1vw;
    background-color: white;
    color: black;
    top: 45vh;
    border: solid 0.2vw #000;
}
#bcDetailContent .btnPrevious {
    left: 5vw;   
}
#bcDetailContent .btnPrevious:before {
    content: '\25C0';
}
#bcDetailContent .btnNext {
    right: 5vw;   
}
#bcDetailContent .btnNext:before {
    content: '\25BA';
}

#bcDetailContent .photo:after {
    position: absolute;
    font-size: 3vw;
}
#bcDetailContent .photo[data-card="hearts"]:after {
    content: '\2665';   
}
#bcDetailContent .photo[data-card="spades"]:after {
    content: '\2660';
}
#bcDetailContent .photo[data-card="clubs"]:after {
    content: '\2663';   
}
#bcDetailContent .photo[data-card="diams"]:after {
    content: '\2666';
}  
/** Position of clubs/hearts/etc. */
#bcDetailContent .photo:nth-of-type(1):after {
    top: 3.2vw;
    left: 3.6vw;
}
#bcDetailContent .photo:nth-of-type(2):after {
    bottom: 3vw;
    right: 3.8vw;
}
#bcDetailContent .photo:nth-of-type(3):after {
    bottom: 3.2vw;
    left: 3.4vw;
}
#bcDetailContent .photo:nth-of-type(4):after {
    bottom: 3.2vw;
    right: 3.4vw;
}


