.minigame {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    top: 0;
    left: 0;
}

#bcCistercian {
    box-sizing: border-box;
    display: none;
    margin: 0;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-color: lightgray;
    color: black;
}
#bcCistercian.show {
    display: block;
}


#bcCistercianCode {
    position: relative;
    width: 30vw;
    height: 50vw;
    left: 10vw;
    top: 10vw;
}

#bcCistercianCode > div {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/cistercian.png);
    background-size: 180vw 146.7vw;
    background-position: 0 0;
    width: 20vw;
    height: 27vw;
}
#bcCistercianCode > div:nth-child(1) {
    background-position-y: -110.025vw;    
}
#bcCistercianCode > div:nth-child(2) {
    background-position-y: -73.35vw;    
} 
#bcCistercianCode > div:nth-child(3) {
    background-position-y: -36.675vw;    
}
#bcCistercianCode > div:nth-child(4) {
    background-position-y: 0vw;    
}
#bcCistercianCode > div[data-number="2"] {
    background-position-x: -20vw;    
}
#bcCistercianCode > div[data-number="3"] {
    background-position-x: -40vw;    
}
#bcCistercianCode > div[data-number="4"] {
    background-position-x: -60vw;    
}
#bcCistercianCode > div[data-number="5"] {
    background-position-x: -80vw;    
}
#bcCistercianCode > div[data-number="6"] {
    background-position-x: -100vw;    
}
#bcCistercianCode > div[data-number="7"] {
    background-position-x: -120vw;    
}
#bcCistercianCode > div[data-number="8"] {
    background-position-x: -140vw;    
}
#bcCistercianCode > div[data-number="9"] {
    background-position-x: -160vw;    
}


#bcCistercianLock {
    position: absolute;
    width: 45vh;
    height: 30vh;
    top: 70%;
    left: 50%;
    text-align: center;
    background-color: goldenrod;
    border: solid 1vh gray;
    padding-top: 10vh;
    box-sizing: border-box;
    border-radius: 2vh;
    transform-origin: center;
    transform: translate(-50%, -50%);
}
#bcCistercianLock:before,
#bcCistercianLock:after {
    content: '';
    position: absolute; 
    top: -26.2vh;
    left: -2vh;
    margin: 0 5vh;
    width: 38vh;
    box-sizing: border-box;
    border-right: solid 6vh gray;
}
#bcCistercianLock:before {
    height: 26vh;
    border-radius: 15vh 15vh 0 0;
    border-top: solid 6vh gray;
    border-left: solid 6vh gray;
}
#bcCistercianLock:after {
    height: 10vh;
    top: -11vh;
}
.opened #bcCistercianLock:before {
    top: -36vh;
}


#bcCistercianInput .bcCistercianNumber {
    display: inline-block;
    font-family: sans-serif;
    border: solid 0.1vh #000;
    width: 5vh;
    position: relative;
    height: 7vh;
    margin: 0.2vh;
    line-height: 7vh;
    font-size: 6vh;
    cursor: pointer;    
    color: black;
    text-shadow: 0.1vh 0.1vh 0 white, -0.1vh -0.1vh 0 grey; 
}
#bcCistercianInput .bcCistercianNumber:before, 
#bcCistercianInput .bcCistercianNumber:after {
    position: absolute; 
    width: inherit;
    height: inherit;
    border: solid 0.1vh #000;
    left: -0.1vh;
    line-height: inherit;
    font-size: inherit;
                
}
#bcCistercianInput .bcCistercianNumber:before {
    content: attr(data-previous);
    top: -7vh; 
    transform-origin: center bottom;
    transform: rotateX(-45deg);
}
#bcCistercianInput .bcCistercianNumber:after {
    content: attr(data-next);
    bottom: -7vh;
    transform-origin: center top;
    transform: rotateX(45deg);
}