.minigame {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    top: 0;
    left: 0;
}

#bcTelescope {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: none;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
#bcTelescope.show {
    display: block;
}


#bcTelescopeStars {
    display: block;
    width: 100vw;
    height: 200vh;
    transform-origin: center center;
    position: absolute; 
    left: 0;
    top: 0;
    animation-name: animStars;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-direction: normal;
    background: black url(./assets/star-space-tile.jpg) repeat; 
}

@keyframes animStars {
    0% {
        transform: rotate(0deg);   
    }
    100% {
        transform: rotate(360deg);   
    }
}


#bcTelescopeStars .star {
    position: absolute;
    transform-origin: center;
    width: 60vh;
    height: 71vh;
    background-image: url("../assets/zodiac-spritesheet.png");
    background-size: 240vh 213vh;
}
#bcTelescopeStars .star[data-const="aries"] {
    background-position: 0 0;
}
#bcTelescopeStars .star[data-const="taurus"] {
    background-position: -60vh 0;
}
#bcTelescopeStars .star[data-const="gemini"] {
    background-position: -120vh 0;
}
#bcTelescopeStars .star[data-const="cancer"] {
    background-position: -180vh 0;
}
#bcTelescopeStars .star[data-const="leo"] {
    background-position: 0 -71vh;
}
#bcTelescopeStars .star[data-const="libra"] {
    background-position: -60vh -74vh;
}
#bcTelescopeStars .star[data-const="virgo"] {
    background-position: -120vh -71vh;
}
#bcTelescopeStars .star[data-const="scorpio"] {
    background-position: -180vh -71vh;
}
#bcTelescopeStars .star[data-const="sagittarius"] {
    background-position: 0 -142vh;
}
#bcTelescopeStars .star[data-const="capricorn"] {
    background-position: -60vh -150vh;
}
#bcTelescopeStars .star[data-const="aquarius"] {
    background-position: -120vh -142vh;
}
#bcTelescopeStars .star[data-const="pisces"] {
    background-position: -180vh -142vh;
}


#bcTelescopeLens {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%); 
    border: solid 0.2vw white;
    border-radius: 50%;
    width: 80vh;
    border: solid 100vw #222;
    height: 80vh;
}   

#bcTelescope:after {
    content: '';
    display: block;
    width: 2vh;
    height: 90vh;
    position: absolute;
    box-sizing: border-box;
    top: 5vh;
    z-index: 10;
    left: 10vw;
    border: solid 0.2vh lightgray;
}

#bcTelescopeFocus {
    position: fixed; 
    left: 6.5vw;
    width: 8vw;
    box-sizing: border-box;
    height: 5vh;
    border: solid 0.2vh lightgray;
    background-color: black;
    z-index: 20;
}
