.minigame {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#bcZodiac {
    display: none;
    background-color: black;
    color: black;
}
#bcZodiac.show {
    display: block;
}



#bcZodiacLocker {
    position: absolute; 
    left: 50%;
    top: 60%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 25vh;
    background-color: darkgoldenrod;
    border-radius: 5vw / 1vw; 
}
#bcZodiacLocker:before {
    content: '';
    position: absolute;
    display: block;
    top: -17vh;
    left: 2vw;
    border-left: solid 3vw grey;
    border-top: solid 3vw grey;
    border-right: solid 3vw grey;
    width: 10vw;
    height: 15vh;
    border-radius: 4vw 4vw 0 0;
}


.sign {
    position: absolute;    
    transform-origin: center;
    transform: translate(-50%, -50%);
    width: 5vw;
    height: 5vw;
    transition-property: left, top;
    transition-delay: 0s;
    transition-duration: 2s;
    transition-timing-function: linear;
    font-size: 5vw;
}

.sign.aries:before {
    content: '\2648';
}
.sign.taurus:before {
    content: '\2649';
}
.sign.gemini:before {
    content: '\264A';
}
.sign.cancer:before {
    content: '\264B';
}
.sign.leo:before {
    content: '\264C';
}
.sign.virgo:before {
    content: '\264D';
}
.sign.libra:before {
    content: '\264E';
}
.sign.scorpio:before {
    content: '\264F';
}
.sign.sagittarius:before {
    content: '\2650';
}
.sign.capricorn:before {
    content: '\2651';
}
.sign.aquarius:before {
    content: '\2652';
}
.sign.pisces:before {
    content: '\2653';
}