/********************************************************
               Stylesheet for radio mini-game
 ********************************************************/

body {
    --color-bg: #281A29;
    --color-btn: #E0E0E0;
    background-color: var(--color-bg);
    color: #C1BE44;
    font-family: Helvetica, sans-serif;
    font-size: 3vw;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

#bcRadio {
    display: none;
}
#bcRadio.show {
    display: block;   
}

#bcRadioFrequency {
    position: absolute; 
    box-sizing: border-box;
    left: 50%;
    top: 30%;
    font-size: 20vw;
    padding-right: 10vw; 
    width: 70vw;
    text-align: right;
    transform: translateX(-50%);
}
#bcRadioFrequency:before {
    content: attr(data-frequency);   
}
#bcRadioFrequency:after {
    content: 'FM';
    display: block;
    position: absolute; 
    bottom: 0;
    right: 0;
    font-size: 4vw;
}

#bcRadioFrequency button {
    border: solid 0.1vw white;
    position: absolute;
    top: 30%;
    font-size: 7vw;
    font-weight: bold;
    text-align: center;
    width: 6vw;
    background-color: var(--color-btn);
    border: none;
    background: transparent;
    color: white;
}

#bcRadioBtnPlus {
    right: 0;
}
#bcRadioBtnPlus:before {
    content: '+';
}
#bcRadioBtnMinus {
    left: 0;
}
#bcRadioBtnMinus:before {
    content: '\2212';
}

#bcRadioDebug {
    display: none;
    position: absolute; 
    bottom: 0;
    left: 0;
    color: white;
}